@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

:root {
  --primary-text: #d3573c;
  --primary-bg: #901c1c;
  --secondary-text: #901c1c;
  --secondary-bg: #d3573c;
  --hover-bg: #db8876;
  --tertiary-text: #525252;
  --tertiary-bg: #fafafa;
  --modal-bg: #db8876;
}

a:focus {
  outline: thin dotted 10px !important;
}
a:hover,
a:active {
  outline: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  width: 100dvw;
  max-width: 1824px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: 300;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.imgUser {
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.imgUser img {
  object-fit: cover;
  display: block;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.zoomEffect {
  transition: transform 0.6s ease-in-out;
 }
 
 .zoomEffect:hover {
  transform: scale(1.05);
 }

.portrait_243 {
  transform: scale(1.5);
  object-position: 50% -23px;
  transition: 0.3s;
}

.portrait_930 {
  transform: scale(1.8);
  object-position: 50% 20px;
}

.portrait_82 {
  transform: scale(1.3);
  object-position: 20px 0px;
}

.portrait_527 {
  transform: scale(1.2);
  object-position: 5px -30px;
}

.portrait_925 {
  transform: scale(1.7);
  object-position: -52px 25px;
}

.portrait_195 {
  transform: scale(1.9);
  object-position: -55px 23px;
}


@media screen and (max-width: 1024px) {

  .logo {
    margin-left: 0;
  }

  .header {
   justify-content: center;
   margin: 0 auto;
   width: 100dvw;
  }

  .header-home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    text-align: center;
    margin: 20px auto;
    margin-top: 100px;
  }


  .logo-home {
    margin: 50px 0;
  }

  h1 {
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
  }
}