@import './base.css';

.lightbox_wrapper {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox {
    position: relative;
    width: 100%;
    height: 100%;
}

.lightbox_media {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.lightbox_media img {
    max-height: 700px;
    min-height: 500px;
    max-width: 800px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
    margin: 0 100px;
}

.lightbox_media video {
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    max-height: 500px;
    min-height: 150px;
    /* height: 100%; */
    margin: 0 100px;
}

.lightbox_name {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-weight: 600;
    font-size: clamp(1rem, 3dvw, 1.5rem);
    line-height: 1.5;
}

.next, .previous, .close {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;
    -webkit-text-stroke: 1px #000;
    z-index: 10;
}

.next, .previous {
    top: 50%;
    transform: translateY(-50%);
}

.previous {
    left: 50px;
}

.close {
    top: 10px;
    right: 10px;
    padding: 30px 80px;
}

.next {
    right: 50px;
}

.next::before, .previous::before, .close::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: clamp(2rem, 2vw, 3rem);
    color: #fff;
}

.close::before {
    content: "\f00d";
}

.next::before {
    content: '\f054';
}

.previous::before {
    content: '\f053';
}