@import "./base.css";

main {
  width: 100%;
  box-sizing: border-box;
}

#contact_modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.photograph_header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.contact-button {
  margin-top: 8vh;
  font-size: 20px;
  font-weight: 600;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; 
}

.contact-button:hover {
  background-color: var(--hover-bg);
  color: black;
}

.btn-submit {
  border: 3px solid var(--primary-bg);
  position: relative;
  margin: 2dvh 0 0 0;
  /* margin: auto 0; */
}

.btn-submit:hover {
  background-color: var(--primary-bg);
  border: 3px solid black !important;
  color: white;
}

.modal {
  border-radius: 5px;
  background-color: var(--modal-bg);
  width: 50dvw;
  height: 100%;
  max-height: 95dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 35px;
  margin: 5dvh auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px !important;
}

.form-header-text {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  align-items: flex-start;
}

.modal header img {
  cursor: pointer;
  line-height: 200px;
  text-align: center;
}

.modal header h2 {
  font-size: 3.2rem;
  font-weight: normal;
  text-align: center;
}

.modal header p {
  font-size: 2.8rem;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.8rem;
  line-height: 0.5rem;
}

form label:first-child {
  margin-top: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  /* margin-bottom: 26px; */
}

form input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.15rem;
}

form textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
}

.valid-input {
  padding: 8px;
  outline: 3px solid #173E06;
  outline-offset: -0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus  {
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.9em;
  color: black;
  display: block;
  margin-top: -15px;
  margin-bottom: 7px;
  margin-left: 7px;
  text-align: left;
  opacity: 0;
  transition: 0.3s;
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(+5px);
  }
}
.formData[data-error-visible="true"]::after {
  animation: wiggle 0.3s ease-in-out;
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 3px solid #601d13;
}

.error {
  color: #e54858;
  font-size: 0.75em;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.message-error {
  font-size: 0.9em;
  color: black;
  display: block;
  margin-top: -15px;
  margin-bottom: 7px;
  margin-left: 7px;
  text-align: left;
  opacity: 0;
  transition: 0.3s ease-out;
}

.activeErrorMessage {
  animation: wiggle 0.3s ease-in-out;
  opacity: 1;
}

.success-form {
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  font-family: var(--font-default);
}

.button-success {
  margin-top: 5%;
  margin: 0 auto;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide {
  display: none;
}

/* /////////////////////////////////////////////////////////// */

.photograph_header article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.photograph_header article h2 {
  color: var(--primary-text);
  font-size: 4rem;
  font-weight: 200;
  line-height: 83px;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
}

.city {
  color: var(--secondary-text);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 31px;
  margin-top: 10px;
}

.tagline {
  font-size: 1.1rem;
  color: var(--tertiary-text);
  margin-top: 10px;
}

.price {
  display: none;
}

.photograph_header article a {
  pointer-events: none;
}

.photograph_main {
  display: flex;
  flex-direction: column;
  padding: 0 85px;
  margin-bottom: 8%;
}

.medias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.display_medias {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  margin-top: 20px;
}

.display_medias img,
.display_medias video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.infos_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.infos_media {
  margin: 5px 0;
  width: 100%;
}

.media_title {
  font-size: 1.05rem;
  color: var(--secondary-text);
  font-weight: 500;
}

.media_likes {
  font-size: 1rem;
}

.heart {
  margin-left: 7px;
  color: var(--secondary-text);
  cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////// */

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.dropdown {
  max-width: 150px;
  min-width: 130px;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background-color: var(--secondary-text);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.selected {
  color: #fff;
  transition: 0.3s;
}

.select-clicked {
  border: 2px var(--primary-text) solid;
  box-shadow: 0 0 0.8em var(--primary-text);
}

.select:hover, .select:hover .selected {
  background-color: var(--hover-bg);
  color: black;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.select:hover .caret {
  border-top:  6px solid black;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background-color: var(--secondary-text);
  border: 1px var(--primary-text) solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  background-color: var(--hover-bg);
  color: black;
}

.active {
  background-color: var(--hover-bg);
  color: black;
}

.menu-open {
  display: block;
  opacity: 1;
}

.resume-profile {
  height: 90px;
  width: 380px;
  position: fixed;
  bottom: 0;
  right: 5vw;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: var(--modal-bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total-likes-heart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total-likes {
  width: 45px;
  font-size: 1.5rem;
  font-weight: 600;
}
.tjr-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.total-heart {
  font-size: 1.5rem;
  font-weight: 600;
  width: 20px;
  margin-left: 8px;
}
